<!DOCTYPE html>
<html lang="ja">
<head>
<%# meta読み込み | meta.json で管理 %>
<%- include('../../assets/includes/_head', { page: json["toybox"] }); %>

<style>
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
  }
</style>

</head>
<!-- dotをクリックで作れるようにする -->
<body>
  <script>
    const butotnClick = () => {
      const dot = document.createElement('div');
      dot.classList.add('dot');
      document.body.appendChild(dot);
    }
    const html = document.querySelector('html');
    html.addEventListener('click', butotnClick);
  </script>
</body>
</html>