<!DOCTYPE html>
<html lang="ja">
<head>
<%# meta読み込み | meta.json で管理 %>
<%- include('../../assets/includes/_head', { page: json["toybox"] }); %>

<style>
  html {
    overflow: hidden;
  }
  #drawingArea {
    position: relative;
    width: 96vw;
    height: 80vh;
    border: 1px solid #000;
    overflow: hidden;
  }
  .dot {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
  }
</style>

</head>
<body>
  <div id="drawingArea"></div>
  <input type="color" id="colorPicker">
  <script>
    let isDragging = false;
    const drawingArea = document.getElementById('drawingArea');

    drawingArea.addEventListener('mousedown', handleStart);
    drawingArea.addEventListener('touchstart', handleStart);

    function handleStart(event) {
      isDragging = true;
      const x = event.clientX || event.touches[0].clientX;
      const y = event.clientY || event.touches[0].clientY;

      // ドラッグ開始時にdotを生成
      createDot(x - drawingArea.offsetLeft, y - drawingArea.offsetTop);

      document.addEventListener('mousemove', handleMove);
      document.addEventListener('touchmove', handleMove);
      document.addEventListener('mouseup', handleEnd);
      document.addEventListener('touchend', handleEnd);
    }

    function handleMove(event) {
      if (isDragging) {
        const x = event.clientX || event.touches[0].clientX;
        const y = event.clientY || event.touches[0].clientY;

        // ドラッグ中の座標を取得してdotを生成
        createDot(x - drawingArea.offsetLeft, y - drawingArea.offsetTop);
      }
    }

    function handleEnd() {
      isDragging = false;

      document.removeEventListener('mousemove', handleMove);
      document.removeEventListener('touchmove', handleMove);
      document.removeEventListener('mouseup', handleEnd);
      document.removeEventListener('touchend', handleEnd);
    }

    function createDot(x, y) {
      const dot = document.createElement('div');
      dot.className = 'dot';
      dot.style.left = x + 'px';
      dot.style.top = y + 'px';
      drawingArea.appendChild(dot);
    }
  </script>

  <!--
    クリックすると点が打てるようになる
    　>点を作る（html,css）
    　>クリックしたら点を作る（js）
    　>クリックした場所に点を作る（js）
    　　>クリックした場所を取得する（js）
    クリックではなくドラッグで点を打る
    　>スマホ対応させる

    キャンバスを作る
    　>ずれを修正する

    色を選べる
    点の大きさを選べる
    マウスカーソルを変える
  -->
</body>
</html>