<!DOCTYPE html>
<html lang="ja">
<head>
<%# meta読み込み | > meta.json で管理 %>
<%- include('../assets/includes/_head', { page: json['blog'] }); %>
</head>
<body>
  <header>
  </header>
  <nav></nav>
  <main>
    <h1>h1〜h6タグの書き方</h1>
  </main>
  <footer>
  </footer>
</body>
</html>