<!DOCTYPE html>
<html lang="ja">
<head>
<%# meta読み込み | > meta.json で管理 %>
<%- include('../assets/includes/_head', { page: json['about'] }); %>
</head>
<body>
  <p><%= 'hello EJS' %></p>
</body>
</html>